// styles.ts
import { SxProps, Theme } from '@mui/system';

export const cardContainer: SxProps<Theme> = {
  position: 'relative',
  alignItems: 'center',
};

export const boxContainer: SxProps<Theme> = {
  p: 2,
  position: 'relative',
};

export const taskNameStyles: SxProps<Theme> = {
  paddingLeft: '30px',
  color: 'gray',
  fontSize: '16px',
  textAlign: 'start',
  minHeight: '24px',
  wordWrap: 'break-word',
  whiteSpace: 'normal',
  outline: 'none',
  border: 'none',
};

export const userContainer: SxProps<Theme> = {
  width: 36,
  height: 36,
  display: 'flex',
  alignItems: 'center',
  justifyContent: 'center',
  borderRadius: '50%',
  cursor: 'pointer',
};

export const dashedBorder: SxProps<Theme> = {
  border: '2px dashed #9d9d9d',
};

export const chipStyles: SxProps<Theme> = {
  borderRadius: '16px',
  height: '30px',
  display: 'flex',
  alignItems: 'center',
  justifyContent: 'center',
  cursor: 'pointer',
};

export const priorityChipStyles: SxProps<Theme> = {
  fontWeight: 'bold',
  cursor: 'pointer',
  '&:hover': {
    backgroundColor: '#EFEFEF',
  },
};

export const calendarPopoverStyles: SxProps<Theme> = {
  minWidth: '300px',
  '& .MuiPickersDay-root.Mui-selected': {
    backgroundColor: '#0247B3',
    color: 'white',
  },
  '& .MuiPickersDay-root:hover': {
    backgroundColor: '#E3F2FD',
  },
};

export const priorityPopoverItem: SxProps<Theme> = {
  display: 'flex',
  justifyContent: 'space-between',
  p: 1,
  cursor: 'pointer',
  '&:hover': {
    backgroundColor: '#f0f0f0',
  },
};

export const userPopoverItem: SxProps<Theme> = {
  display: 'flex',
  alignItems: 'center',
  gap: 1,
  p: 1,
  cursor: 'pointer',
  '&:hover': {
    backgroundColor: '#f0f0f0',
  },
};
